[submodule "lib/keccak-fips202-sv"]
	path = lib/keccak-fips202-sv
	url = ../keccak-fips202-sv.git
[submodule "lib/poly-samplers"]
	path = lib/poly-samplers
	url = ../poly-samplers.git
[submodule "build-tools"]
	path = build-tools
	url = ../build-tools.git
[submodule "lib/common-rtl"]
	path = lib/common-rtl
	url = ../common-rtl.git
[submodule "verif/mlkem-python"]
	path = verif/mlkem-python
	url = ../mlkem-python.git
